bin/
lib/
obj/
.ipynb_checkpoints/
PyFC.egg-info/
**/__pycache__
*.pyc
*.csv
docs/build/
examples/fc_tutorial_output/
examples/joint_constraints_output/
PyFeldmanCousins.egg-info/
xbranch_compare/output/